@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

$lg-color: #ededed;

body {
  background-color: $lg-color;
  font-family: "Source Sans Pro", sans-serif;
}
